## .gitignore

# OS junk
.DS_Store
[Tt]humbs.db

# temp files
.*.swp

# R files
.RData
.Rhistory
.Rproj.user

# webapp data
.bundle
db/*.sqlite3
public/generatedFiles/
public/uploadedFiles/
log/
tmp/
.sass-cache/

